*{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

h1{
    font-size: 44px;
    line-height: 100%;
}


h2{
    font-size: 38px;
    line-height: 110%;
}

h3{
    font-size: 28px;
    line-height: 110%;
}

h4{
    font-size: 24px;
    line-height: 120%;
}

h5{
    font-size: 20px;
    line-height: 140%;
}

h6{
    font-size: 16px;
    line-height: 150%;
}
